- content_for :title, t('user.titles.super_admin_sign_up')

= simple_form_for resource, as: resource_name, url: super_admin_sign_up_url do |f|
  = f.input :email, label: false, placeholder: User.human_attribute_name(:email), autofocus: true, required: true
  = f.input :password, label: false, placeholder: User.human_attribute_name(:password), input_html: { autocomplete: 'off' }, required: true
  = f.input :password_confirmation, label: false, placeholder: User.human_attribute_name(:password_confirmation), input_html: { autocomplete: 'off' }, required: true
  .form-group
    = f.button :submit, t('common.labels.submit')
