#sidebar-menu.main_menu_side.hidden-print.main_menu
  .menu_section
    %ul.nav.side-menu

      - if can? :read, User
        = sidebar_menu_item controller: ['admin/users', 'users/invitations'] do
          = link_to '#' do
            = fa_icon('users')
            %label= t('user.labels.management')
            %span.fa.fa-chevron-down
          %ul.nav.child_menu
            = sidebar_child_menu_item controller: 'admin/users', action: :index do
              = link_to admin_users_url do
                = t('user.titles.index')
